# I write a statement
# I admit its value
# git commit
# it is writ.

# Days goes by, a deadline looms
# Take no action
#
# git status
# nothing to commit, working directory clean

# Writers block; I twiddle my
Thumbs.db
# playing games on an old Nintento
.DS_*
# just to watch the
Icon?
# move across the screen
# carefully, carefully, slowly, slowly
# the artist made what the watchers ignored.

# git is not a tree yet has a branch.
# I write a statement
# I admit its value
# git checkout -f
# git commit,
# is it writ?
